NODE_ENV=development
PORT_HTTP=3000
PORT_GRAPHQL=4000
PRESENTATION_PROTOCOL=both

DATABASE_ENGINE=sqlite
DATABASE_URL=./data/notes.db
DATABASE_NAME=notes_api

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=604800

DEFAULT_USER_ROLE=user